# OS X temporary files
*~*
.DS_Store
*.m~
*.mat
*.aux
*.log
*.out
*.exe
*.txt
*.vcf
*.xls
*.xlsx
*.csv
*.asv
.asv


# Explicitly ignore some folders
archive
sparse
data
txt
nn_data
genosdata
genosdata/*
HandNet
codegen